@charset "utf-8";

body {
	margin:0;
	padding:0;
	width:100%;

}

h1 {
	font-family: "Verdana";
	font-weight: normal;
	font-size: 70px;
	text-align: center;
	color:#000;
	padding:0;
}

h2 {
	font-family: "Verdana";
	font-weight: normal;
	font-size: 30px;
	text-align: center;
	color:#000;
	padding:0;
}

h3 {
	font-family: "GDT";
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color:#000;
	padding:0;
}

img {
	display:block;
	margin:50px auto;
	width: 100px;
	height: 100px;
}

.margin {
	margin-left:80px;
}

.loading {
	background: url(../img/loading.gif) 50% 50% no-repeat fixed;
	background-size:40px 40px;
	background-color: #000;
	height:100%;
	width:100%;
	overflow:hidden;
}

aside {
	position:fixed;
	width: 110px;
	height:100%;
    border-right:1px solid #BCBCBC;
    background: rgba(255, 255, 255, 0.8);
    overflow:hidden;
    z-index:100;
    margin-left:-90px;
    opacity:0.5;
}

section {
	opacity: 0;
}

.loaded section {
	position:relative;
	width:100%;
	overflow:hidden;
	background:#fff;
	z-index:70;
	opacity:1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

aside, section {
	display:block;
}

#logo a {
	font-family:"Verdana";
	position: relative;
	color:#000;
	text-decoration: none;
}

#logo a:hover {
	font-style:italic;
}

aside nav {
	margin: 50px 0 0 0;
}

aside nav a {
	font-family:"Verdana";
	color:#51575E;
	position:relative;
	display:block;
	text-decoration: none;
	margin:0 0 10px 0;
}

aside nav a.active{
	color:#000;
	opacity:1;
}

aside nav a:hover {
	color:#000;
	opacity:1;
}

/** sections **/

#home .background {
	background-color:#FFF;
	overflow: hidden;
}

#home {
	padding:50px 0px 50px 0px;
}

#story .background {
	background:url('../img/Background.jpg') 50% 0 no-repeat fixed;
	background-size:cover;
	padding:80px 0 80px 0;
	min-height:100%;
}

#manifesto .background {
	background-color:#FF8000;
}

#video .background {

}

#about {
	background-color:#FF8000;
}

#design {
	text-decoration: none;
	font-family:"Verdana";
	text-align: center;
}

p {
	margin-top:100px;
	margin-left:80px;
	color:#FFFFFF;
	text-align: center;
	font-size:  40px;
}
